*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    color: #0c84e7;
}

/* header */
header{
    background-color: rgb(236, 140, 188);
    line-height: 40px;
}

header .logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 80%;
}


header input{
    display: none;
}

header label{
    font-size: 35px;
    line-height: 85px;
    display: none;
}


.menu {
    width: 40%;
    margin-left: auto;
}


.menu ul{
    list-style-type: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li:hover {
    background-color: rgb(135, 13, 235);
    color: rgb(61, 10, 230);
    border-radius: 10px;
    
}

.menu ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
}
/* banner */
#banner{
    background-color: rgb(243, 231, 180);
}


#banner .left{
    width: 50%;
}

#banner .left img{
    max-width: 80%;
}
#banner .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .right h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500px;
}
#banner .right h1:nth-child(1){
    color: rgb(130, 17, 235);
}

#banner .right h1:nth-child(2){
    color: #ee0a0a;
}

#banner .right a{
    display: inline-block;
    text-decoration: none;
    width: 18%;
    padding: 15px 20px;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
}
#banner .right a:hover {
    background-color: rgb(135, 13, 235);
    color: rgb(61, 10, 230);
    border-radius: 10px;
}



/* casual shoes section */
#items-section{
    padding: 30px 0;
}
.item{
    margin: 20px auto;
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 14px 10px 28px -8px rgba(0,0,0,0.75);
}
.item .item-img{
    background-color: beige;
    border-radius: 8px;
}
.item .item-img img{
    max-width: 50%;
    margin: 0 auto;
    display: block;
}

.item .item-des h3{
    font-size: 25px;
    margin: 10px 0;
}

.item .item-btn{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.item .item-btn span{
    font-size: 30px;
    font-weight: bolder;
    color: orangered;
}
.item .item-btn a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 15px 20px;
    border-radius: 8px;
}
.item .item-btn a:hover {
    background-color: rgb(135, 13, 235);
    color: rgb(61, 10, 230);
    border-radius: 10px;

}


/* formal shoes section */
#items-section-formal-shoe .item-img{
    background-color: transparent;
}

/* detals */
#details{
    margin-top: 50px;
}


#details .left{
    width: 50%;
}
#details .left .card{
    width: 80%;
    margin: 30px auto;
    box-shadow: -18px 20px 28px -8px rgba(29, 28, 28, 0.75);
    border-radius: 8px;
    padding: 20px 0;
}
#details .left .card .left{
    width: 25%;
}
#details .left .card .left img{
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
#details .left .card .right{
    width: 75%;
}

#details .left .card .right h4{
    font-size: 18px;
}

#details .right{
    width: 50%;
}
#details .right img{
    max-width: 100%;
}



#app{
    padding: 30px 0;
}

#app .left{
    width: 50%;
}

#app .left h1{
    font-size: 50px;
}
#app .left span{
    font-size: 120px;
}
#app .right{
    width: 50%;
}

#app .right img{
    max-width: 70%;
}



/* footer */
footer{
    background-color: green;
    color: white;
    padding: 20px 0;
}

footer .left{
    width: 60%;
}
footer .right{
    width: 40%;
}

footer .right ul{
    list-style-type: none;
}
footer .right ul li{
    display: inline-block;
}
footer .right ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    font-size: 20px;
}
/* footer end */
